UnityProject/[Ll]ibrary/
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Ll]ogs/
UnityProject/[Uu]ser[Ss]ettings/
UnityProject/[Bb]uilds/
UnityProject/.vs/
UnityProject/Assets/Screenshots/
UnityProject/Assets/Screenshots.meta
UnityProject/Assets/Resources/PerformanceTestRun*.json*
Builds/
.validation/
/*.log
*.csproj
*.sln
*.slnx
*.user
.DS_Store
Thumbs.db
